[req]
distinguished_name = req_distinguished_name
req_extensions = req_ext
prompt = no

[req_distinguished_name]
C   = US
ST  = Arizona
L   = Tempe
O   = Acorn Labs
OU  = Engineering
CN  = localhost

[req_ext]
subjectAltName = @alt_names
basicConstraints=CA:FALSE
keyUsage = digitalSignature, nonRepudiation, keyEncipherment, dataEncipherment

[alt_names]
IP.1 = 127.0.0.1
DNS.1 = localhost
DNS.2 = localhost.localdomain
DNS.3 = *.local.on-acorn.io
